
	.entete_menu{
		display: flex;
		justify-content: space-between;
		margin: -10px;
		padding-bottom: 20px;
		padding-bottom: 5px;
		background-color: purple;
		color: white;
	}
	
	.logo{
		/*border-color: black;*/
		margin-left: 20px;
		margin-top: 10px;
	}
	
	.logo a{
		color: white;
	}

	.btnmenu{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 30px;
	}

	#btnmenu{
		font-size: 25px;
		cursor: pointer;
		margin: 0px;
		margin-left: -10px;
		margin-top: 10px;
	}

	#close_menu{
		font-size: 35px;
		cursor: pointer;
		margin: 0px;
		margin-left: -10px;
		margin-top: 10px;
		padding: 0px;
	}
	/*Fermer le menu et le bouton de fermer menu*/
	nav, #close_menu{
		display: none;
	}



	nav a{
		color: white;
		text-decoration: none;
	}

	nav li{
		padding: 5px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 600;
		font-size: normal;
		font-family: Arial;
		
	}

	nav li:hover{
		padding: 5px;
		text-decoration: overline underline;
		text-decoration-color: white;
		text-decoration-style: wavy;
	}

	nav ul{
		list-style: none;
	}

	.menu_visible{
		text-align: center;
		font-size: 18px;
		background-color: black;
		padding: 10px;
		width: 100%;
		position: absolute;/*Permet d'afficher cet élément un autre*/
		z-index: 100;/*Permet de décaler cet élément vers le bas*/
		top: 60px;
		left: -10px;
	}

