


.entete_menu{
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-around;
	background-color: #4CAF50;/*purple;*/
	margin: -10px;
	padding: 20px;
	/* padding-bottom: 10px; */
	z-index: 100;
	left: -10px;
	top: 10px;
}

.logo{
	border-color: white;
	color: white;
	/*margin-right: auto;*/
	text-align: left;
}


.logo a{
	color: white; 
}

.btnmenu, #btnmenu, #close_menu{
	display: none;
}

nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

nav a{
	color: white;
	text-decoration: none;
}

nav li{
	padding: 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	font-size: normal;
	font-family: Arial;
	margin: 0 1em;
}

nav li:hover{
	border: 2px solid white;
	border-left: 0;
	border-right: 0;
	border-top: 0px;
	position: relative;
}

nav ul{
	list-style: none;
	display: flex;
	justify-content: stretch;
}



