.hero{
	font-size: 31px;
	margin: 10px -10px;
	height: 350px;
}
	
.bouton{
	font-size: 14px;
}

#about{
  margin: 5px;
  padding: 50px;
}

.cols {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center
}
.cols .col1{
	width: 100%;
}

.cols .cols2{
	width: 100%;
}

#profile{
	width: 150px;
	height: 150px;
	border-radius: 150px;
}
