
        #sources_section ul {
            list-style-type: none;
            padding: 0;
        }
        #sources_section li {
            margin-bottom: 10px;
        }
        #sources_section a {
            text-decoration: none;
            color: #333;
        }
        #sources_section a:hover {
            color: #666;
        }
